body{
    margin:0cm;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.footer{
     color: white;
    text-align: center;
    display: flex;
    padding: 10px;
    background-color: rgb(61, 86, 139);
    justify-content: center;
} 
 .links li{
    display: block;
    color: white;

}
.links li a{
    display: block;
    color: white;
    
}

.footer .details{
    margin-left: 100px;
    /* color: whitesmoke; */
}
.aiti-logo{
    width: 150px;
    height: 50px;
    margin: 0px 10px;
}
